<% content_for :css do %>
<%= stylesheet_link_tag 'top' %>
<% end %>

<% content_for :js do %>
<%= javascript_include_tag 'top'%>
<% end %>

<div class="top_image" id="1">
  <div class="top_title_container">
    <h1 class="top_title">Portfolio</h1>
    <p class="top_sub_title">Rails Engineer</p>
  </div>
</div>

<div class="works_container" id="2">
  <p class="works_title">Works</p>
  <div class="works_item_container">
    <div class="works_item_left">
      <div class="works_item"></div>
      <div class="works_item"></div>
    </div>
    <div class="works_item_center">
      <div class="works_item"></div>
    </div>
    <div class="works_item_right">
      <div class="works_item"></div>
      <div class="works_item"></div>
    </div>
  </div>
</div>

<div class="about_container" id="3">
  <p class="about_title">About</p>
  <div class="about_block_container">
    <div class="about_img_container">
      <div class="about_img"></div>
    </div>
    <div class="about_profile_container">
      <p class="about_name">Kotaro Shinoda</p>
      <p class="about_profile">
        2000 11 16<br>
        male <br>
        Waseda University <br>
      </p>
    </div>
  </div>
</div>

<div class="skill_container" id="4">
  <p class="skill_title">Skill</p>
  <div class="skill_table_container table-responsive-sm">
    <table class="table table-dark table-borderless center-block skill_table">
      <tr>
        <th>Language</th>
        <td>HTML</td>
        <td>CSS</td>
        <td>Ruby</td>
        <td>Ruby on Rails</td>
      </tr>
      <tr>
        <th>OS</th>
        <td>Windows</td>
        <td>CentOS</td>
      </tr>
      <tr>
        <th>Development Environment</th>
        <td>Vagrant</td>
      </tr>
    </table>
  </div>
</div>

<div class="contact_container" id="5">
  <p class="contact_title">Contact</p>
  <div class="contact_wrapper">
    <div class="contact_telephone_container">
      <p class="contact_telephone">telephone: 000-0000-0000</p>
    </div>
    <div class="contact_mail_container">
      <p class="contact_mail">mail: example@example.com</p>
    </div>
  </div>
</div>